/*------------------------------------------------------------------------------------------------------------------------

 =============================================================================
 Filename: _variables.scss
 =============================================================================
 
 --------------------------------------------------------------------------------------------------------------------- */


/* =============================================================================
Types
========================================================================== */

$font_main: "";
$font_secondary : "";

/* =============================================================================
Colours
========================================================================== */

$color_main : "";
$color_secondary :"";